examples/form-data.json
[{"id":"ae8d9bb156650873","type":"tab","label":"qurl form-data","disabled":false,"info":"","env":[]},{"id":"6eccd50db57ed93a","type":"inject","z":"ae8d9bb156650873","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["24ae8ec2b74611c5"]]},{"id":"012994541e444f8d","type":"http in","z":"ae8d9bb156650873","name":"","url":"/sample/file","method":"post","upload":true,"swaggerDoc":"","x":170,"y":260,"wires":[["6245fa5cbfe5104a","b269064eb8e52b25","6b97ea581aa40986"]]},{"id":"c1bbce00101e31ad","type":"http response","z":"ae8d9bb156650873","name":"","statusCode":"200","headers":{},"x":1020,"y":260,"wires":[]},{"id":"5ae65feec6f0825a","type":"qurl","z":"ae8d9bb156650873","name":"","endpoint":"a45cedffe9f343a9","method":"post","url":"/sample/file","responseType":"json","keepAlive":false,"timeout":30000,"validateStatus":false,"verboseOut":false,"useQurl":false,"headers":[],"params":[],"x":510,"y":160,"wires":[["88bc296b2a86997c"]]},{"id":"24ae8ec2b74611c5","type":"function","z":"ae8d9bb156650873","name":"formdata","func":"msg.payload = new FormData();\nmsg.payload.append(\"text\", \"hellow world\");\nmsg.payload.append(\"file\", fs.createReadStream(\"/data/uploads/sample.pdf\"));\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"FormData","module":"form-data"},{"var":"fs","module":"fs"}],"x":320,"y":160,"wires":[["5ae65feec6f0825a"]]},{"id":"88bc296b2a86997c","type":"debug","z":"ae8d9bb156650873","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"6245fa5cbfe5104a","type":"debug","z":"ae8d9bb156650873","name":"get content-type","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"req.headers.content-type","targetType":"msg","statusVal":"req.headers.content-type","statusType":"auto","x":390,"y":300,"wires":[]},{"id":"664ecb53dbe9c120","type":"file","z":"ae8d9bb156650873","name":"","filename":"/data/uploads/sample-received.pdf","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":260,"wires":[["bbbca33ef8875f3b"]]},{"id":"b269064eb8e52b25","type":"function","z":"ae8d9bb156650873","name":"get file","func":"msg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":260,"wires":[["664ecb53dbe9c120"]]},{"id":"bbbca33ef8875f3b","type":"change","z":"ae8d9bb156650873","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[["c1bbce00101e31ad"]]},{"id":"6b97ea581aa40986","type":"debug","z":"ae8d9bb156650873","name":"get form field text","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.text","targetType":"msg","statusVal":"payload.text","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"a45cedffe9f343a9","type":"qurl-config","name":"","baseURL":"http://localhost:1880","caCertPath":"","rejectUnauthorized":true,"proxyEnabled":false,"proxyProtocol":"https","proxyHost":"","proxyPort":"","apiKeyKey":""},{"id":"d6709fb008a1ae3a","type":"global-config","env":[],"modules":{"@yuliqi/node-red-contrib-qurl":"0.0.1"}}]